/* !!! FLEXBOX STYLIZATION MOBILE !!! */

@media screen and (max-width: 768px) {
    .cabecalhoPrincipal .container {
        flex-direction: column;
    }
    
    .cabecalhoPrincipal-nav {
        flex-direction: column;
        width: 100%;
        text-align: center;
    }
    
    .conteudoPrincipal-cursos-link {
        width: 100%;
    }
    
    .conteudoPrincipal-cursos-link:last-child {
        margin-bottom: 10px;
    }
    
    .rodapePrincipal-patrocinadores .container {
        display: flex;
        flex-flow: row wrap;
    }
    
    .rodapePrincipal-patrocinadores-list {
        width: 100%;
        margin: 0 0 0 0;
        justify-content: space-around;
    }

    .rodapePrincipal-contatoForm {
        display: flex;
        width: 100%;
        margin-top: 20px;
        justify-content: center;
    }
    
    .rodapePrincipal-navMap-list {
        display: flex;
        flex-flow: column nowrap;
    }
    
}

/* FLEXBOX STYLIZATION HEADER */

.cabecalhoPrincipal .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    vertical-align: middle;
}

.container .cabecalhoPrincipal-nav {
    display: flex;
    border: none;
}

/* FLEXBOX STYLIZATION COURSES */
.conteudoPrincipal-cursos {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.conteudoPrincipal .container > h2 {
    text-indent: 92px;
}

.conteudoPrincipal-cursos-link {
    width: 20%;
}

/* FLEXBOX STYLIZATION VIDEO */
.container iframe {
    display: flex;
    width: 100%;
    height: 400px;
    margin: 0 auto;    
}

.videoSobre-sobre {
    text-align: center;
}
 
.videoSobre-button {
    width: 200px;
    margin: 0 auto;
}

/* FLEXBOX STYLIZATION NAVMAP */
.rodapePrincipal-navMap-list {
    display: flex;
    flex-flow: column wrap;
    height: px;
}



/* FLEXBOX STYLIZATION FOOTER */

.rodapePrincipal-patrocinadores .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    
} 

.rodapePrincipal-contatoForm-fieldset {
    display: flex;
}

/* !!!  FLEXBOX STYLIZATION WEBSITE MOBILE !!! */



/* FLEXBOX STYLIZATION NAVMAP COURSES */

.rodapePrincipal-navMap-list {
    display: flex;
    flex-flow: column nowrap;
}
